header{
    font-size: 20px;
}

p{
    font-size: 16px;
}
nav{
    display: flex;
    justify-content: left;
}

.menubtn{
    width: 3%;
    font-size: 30px;
    background-color: transparent;
    border-color: transparent;
}
i{
    color: black;
}
footer{
    position: fixed;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    bottom: 0;
}
.embtn{
    bottom: 0;
    width: 100px;
    font-size: 24px;
    background-color: cyan;
    border-radius: 20%;
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
}
.embtn a{
    color: black;
    text-decoration: none;
}

.embtn:hover{
    text-decoration: underline;
}
.sidebar{
    position: fixed;
    height: 100vh;
    top: 0;
    left: -300px;
    width: 300px;
    background: white;
    border-color: black;
    transition: 0.3s ease-in-out;
    z-index: 3;
}
.sidebar.active{
    left: 0;
    background-color: white;
    border-color: black;
}
.sidebar.active h1{
    padding: 20px;
}
.sidebar.active a{
    display:flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 20px;
}
.sidebar.active a:hover{
    text-decoration: underline;
    font-weight: bold;
}